.sideBar {

    min-height      : 100vh;
    flex            : 1;
    background-color: var(--white);
    border-right    : var(--borderLine);

    .top {
        height         : 50px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        border-bottom  : var(--borderLine);

        .logo {
            font-size  : 20px;
            font-weight: 600;
            color      : var(--themeColor);
            cursor     : pointer;
        }
    }


    .center {
        padding: 10px;

        .title {
            margin     : 30px 0 0;
            font-size  : 14px;
            font-weight: 600;
            color      : var(--themeColor);

            &:first-of-type {
                margin-top: 10px;
            }
        }

        .notWorking{
            text-decoration: line-through;
        }
        ul li {
            padding      : 5px;
            display      : flex;
            align-items  : center;
            gap          : 10px;
            font-size    : 20px;
            cursor       : pointer;
            border-bottom: 1px solid transparent;
            border-radius: 3px;

            &:hover {
                color           : var(--hoverColor);
                background-color: var(--hoverBgColor);
            }

            .icon {
                color: var(--iconColor);
            }

            span {
                color    : var(--gray);
                font-size: 18px;
            }
        }
    }


    .bottom {
        display       : flex;
        flex-direction: column;
        // align-items   : center;
        margin        : 10px;
        gap           : 10px;

        .colorOption {
            width        : 25px;
            height       : 25px;
            border-radius: 50%;
            border       : var(--border);
            cursor       : pointer;
            margin       : 5px;

            &:nth-child(1) {
                background-color: rgb(5, 5, 5);

            }

            &:nth-child(2) {
                background-color: rgb(244, 244, 244);

            }
        }
    }
}