.footer {
    width     : 100%;
    max-width : 1024px;
    font-size : 12px;
    margin-top: 20px;

    .fLists {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 50px;

        .fList .fListItem {
            margin-bottom: 10px;
            color        : var(--btnColor);
            cursor       : pointer;
        }
    }

    .fText {
        text-align: center;
        padding   : 20px;
        border-top: var(--blackBorder);
    }
}