@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');


:root {
  --themeColor     : #6439ff;
  --white          : #fff;
  --gray           : #333;
  --black          : #111;
  --iconColor      : #7451f8;
  --hoverColor     : #401dbf;
  --hoverBgColor   : #ece8ff;
  --boxShadow      : 1px 2px 5px 1px rgba(226, 226, 226, .3);
  --boxShadowWebKit: 1px 2px 5px 1px rgba(0, 0, 0, .2);
  --border         : 1px solid var(--iconColor);
  --borderLine     : 0.5px solid rgba(91, 118, 225, 0.5);
}


* {
  margin         : 0;
  padding        : 0;
  border         : 0;
  outline        : none;
  list-style     : none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing     : border-box;
  font-family    : 'Nunito', sans-serif;
  transition     : all .1s linear;
}