.hotelListContainer {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;

    .wrapper {
        width    : 100%;
        max-width: 1024px;
        display  : flex;
        gap      : 20px;

        .search {
            flex         : 1;
            background   : var(--yellow);
            padding      : 10px;
            border-radius: 3px;
            position     : sticky;
            top          : 10px;
            height       : max-content;

            .title {
                font-size    : 20px;
                color        : var(--gray);
                margin-bottom: 10px;

            }

            .item {
                display       : flex;
                flex-direction: column;
                gap           : 5px;
                margin-bottom : 15px;

                label {
                    font-size: 14px;
                }

                .destination {
                    padding       : 5px;
                    font-size     : 16px;
                    border-radius : 3px;
                    text-transform: capitalize;
                }

                .displayDate {
                    padding      : 5px;
                    line-height  : 25px;
                    border-radius: 3px;
                    text-align   : center;
                    cursor       : pointer;
                    background   : var(--white);
                }

                .options {

                    padding: 10px;

                    .price:before {
                        content     : '$';
                        margin-right: 5px;
                    }

                    .optionItem {
                        display        : flex;
                        justify-content: space-between;
                        align-items    : center;
                        margin-bottom  : 10px;
                        color          : var(--gray);
                        font-size      : 14px;


                        .optionInput {
                            width        : 80px;
                            padding      : 5px;
                            border-radius: 3px;
                        }
                    }
                }
            }

            .listSearchBtn {
                width        : 100%;
                border-radius: 3px;
                padding      : 10px;
                cursor       : pointer;
                font-size    : 16px;
                margin-top   : -10px;
                color        : var(--white);
                background   : var(--btnColor);

                &:hover {
                    background: var(--themeColor);
                }
            }
        }

        .searchResult {
            flex: 3;
        }
    }
}