.navbar {
    height         : 50px;
    background     : var(--themeColor);
    display        : flex;
    justify-content: center;

    .navContainer {
        width          : 100%;
        max-width      : 1024px;
        color          : var(--white);
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        .logo {
            font-weight: 500;
            color      : var(--white);
        }

        .navItems {

            display    : flex;
            align-items: center;

            .navBtn {
                margin-left: 20px;
                padding    : 5px 10px;
                color      : var(--themeColor);
                cursor     : pointer;
            }

            .userName {
                background-color: #ddd;
                padding         : 1px 15px;
                font-size       : 19px;
                color           : var(--themeColor);
                border-radius   : 5px;
            }
        }
    }
}